body
    background #ccc
#bg1,#bg2
    height 100px;
    width 100px;
    // background-color red
#bg1
    background-image url('../../images/pic1.png')
#bg2
    background-image url('../../images/pic2.png')